export FZFLET_GITHUB_DEFAULT_NAME=Github
export FZFLET_GITHUB_DEFAULT_HOSTNAME=github.com
export FZFLET_GITHUB_DEFAULT_USER=
export FZFLET_GITHUB_DEFAULT_REPOSITORY_LENGTH_BUFFER=5
export FZFLET_GITHUB_DEFAULT_NUMBER_LENGTH_BUFFER=1
export FZFLET_GITHUB_DEFAULT_TITLE_LENGTH_BUFFER=5
export FZFLET_GITHUB_DEFAULT_USER_LENGTH_BUFFER=5

export FZFLET_GITHUB_DEFAULT_SEARCH_PULLS_CREATED_QUERY=is:open+is:pr+author:${FZFLET_GITHUB_DEFAULT_USER}+archived:false+sort:updated-desc
export FZFLET_GITHUB_DEFAULT_SEARCH_PULLS_REVIEW_REQUESTED_QUERY=is:open+is:pr+review-requested:${FZFLET_GITHUB_DEFAULT_USER}+archived:false+sort:updated-desc

export FZFLET_GITHUB_DEFAULT_SEARCH_PULLS_QUERY_1_NAME="created by me"
export FZFLET_GITHUB_DEFAULT_SEARCH_PULLS_QUERY_1=$FZFLET_GITHUB_DEFAULT_SEARCH_PULLS_CREATED_QUERY
export FZFLET_GITHUB_DEFAULT_SEARCH_PULLS_QUERY_2_NAME="review requested to me"
export FZFLET_GITHUB_DEFAULT_SEARCH_PULLS_QUERY_2=$FZFLET_GITHUB_DEFAULT_SEARCH_PULLS_REVIEW_REQUESTED_QUERY
