export FZFLET_JIRA_DEFAULT_FAST_BATCH_SIZE=50
export FZFLET_JIRA_DEFAULT_BATCH_SIZE=200

export FZFLET_JIRA_DEFAULT_NAME=
export FZFLET_JIRA_DEFAULT_URL=
export FZFLET_JIRA_DEFAULT_USER=
export FZFLET_JIRA_DEFAULT_PASSWORD=

export FZFLET_JIRA_DEFAULT_QUERY='assignee=${FZFLET_JIRA_USER}%20ORDER%20BY%20updated%20DESC'

export FZFLET_JIRA_DEFAULT_GO_JIRA_PATH='$HOME/go/bin/jira'
